// @import './placeholder-variables'

.q-placeholder
  overflow: hidden;
  margin: 15px;
  background-color var(--placeholder-color, #eee)
  min-width: 50%;
  pointer-events: none;
  user-select: none;
  position relative

  &__row
    display flex
    flex-direction row
    flex-wrap nowrap
    width 100%
    // border 1px solid black

  &__column
    display flex
    flex-direction column
    flex-basis 100%
    flex 1
    // border 1px solid black

  &__mask
    background-color var(--placeholder-bgcolor, #fff)

  &__divider
    background-color var(--placeholder-bgcolor, #fff)

@keyframes placeholderShimmer
  0%{
    background-position -2000px 0
  }
  100%{
    background-position 2000px 0
  }

.q-placeholder.animated-background
  animation-duration 20s
  animation-fill-mode forwards
  animation-iteration-count infinite
  animation-name placeholderShimmer
  animation-timing-function linear
  background linear-gradient(to right, var(--placeholder-color, #eee) 8%, var(--placeholder-shimmercolor, #ddd) 18%, var(--placeholder-color, #eee) 33%)
